.cont-BF{
    padding: 20px;
    display: flex;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border-radius: 30px;
}
.calcont{
    background-color: white;
    border-radius:10px;
    padding: 10px;
    margin: 10px;
    display: flex;
    border: 2px solid #fd4500;
    justify-content: space-evenly;
    width: 100%;
}
.cont-LC{
    padding: 20px;
    display: flex;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border-radius: 30px;
}
.cont-DR{
    padding: 20px;
    display: flex;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border-radius: 30px;
}
.bf{
    padding:15px;
    background-color:white;
    border: 2px solid #fd4500;
    border-radius: 15px;
    margin: 5px;
}
.ln{
    padding: 15px;
    background-color:white;
    border: 2px solid #fd4500;
    border-radius: 15px;
    margin: 5px;
}
.dn{
    padding:15px;
    background-color:white;
    border: 2px solid #fd4500;
    border-radius: 15px;
    margin: 5px;
}
.Tnut{
    display: flex;
    justify-content: space-evenly;
    margin:10px;
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    border-radius: 30px;
    padding: 10px;
}
.title{
    font-weight: bold;
    font-size: larger;
    margin-top: 10px;
    margin-bottom: 10px;
}
.info{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: larger;
}
